<main>
  <h1>Ajouter un article</h1>
  <form [formGroup]="f">
    <label>
      <div>Nom</div>
      <input
        type="text"
        formControlName="name"
        placeholder="Ex: Tournevis"
        appAutofocus
      />
      <div class="error">
        <ng-container *ngIf="f.controls['name'].touched">
          <span *ngIf="f.controls['name'].errors?.required">
            Oups... champs requis
          </span>
          <span *ngIf="f.controls['name'].errors?.maxlength">
            Oups... champs trop long ({{
              f.controls["name"].errors?.maxlength.actualLength
            }}
            &gt;
            {{ f.controls["name"].errors?.maxlength.requiredLength }})
          </span>
        </ng-container>
      </div>
    </label>
    <label>
      <div>Prix</div>
      <input type="number" min="0" step="0.01" formControlName="price" />
      <div class="error"></div>
    </label>
    <label>
      <div>Quantité</div>
      <input type="number" min="0" formControlName="qty" />
      <div class="error"></div>
    </label>
    <button [disabled]="f.invalid" class="primary">Créer</button>
  </form>
</main>
<!-- {{ f.controls["name"].errors | json }} -->
