<main>
  <h1>Liste des articles</h1>
  <div class="table">
    <nav>
      <button>Rafraichir</button>
      <button routerLink="create">Ajouter</button>
    </nav>
    <table>
      <caption hidden>
        Liste des articles
      </caption>
      <thead>
        <tr>
          <th scope="col" name="name">Nom</th>
          <th scope="col" name="price">Prix</th>
          <th scope="col" name="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let a of articleService.articles$ | async">
          <td name="name" [title]="a.name">{{ a.name | ellipsis: 11 }}</td>
          <td name="price">{{ a.price }}</td>
          <td name="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</main>
