<main>
  <h1>Liste des articles</h1>
  <div class="table">
    <nav>
      <button (click)="refresh()">
        <fa-icon [icon]="faRedo" [spin]="loading"></fa-icon>
      </button>
      <button routerLink="create" class="add">
        <fa-icon [icon]="faPlus"></fa-icon>
      </button>
      <button (click)="remove()" [hidden]="selectedArticles.length === 0">
        <fa-icon [icon]="faTrashAlt"></fa-icon>
      </button>
    </nav>
    <table>
      <caption hidden>
        Liste des articles
      </caption>
      <thead>
        <tr>
          <th scope="col" class="name">Nom</th>
          <th scope="col" class="price">Prix</th>
          <th scope="col" class="qty">Quantité</th>
        </tr>
      </thead>
      <tbody>
        <tr
          (click)="toggle(a)"
          *ngFor="let a of articles$ | async"
          [class.selected]="selectedArticles.includes(a)"
        >
          <td class="name" [title]="a.name">{{ a.name | ellipsis: 11 }}</td>
          <td class="price">{{ a.price | currency }}</td>
          <td class="qty">{{ a.qty }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="error !== ''" class="error">{{ error }}</div>
  </div>
</main>
