<main>
  <h1>Mentions légales</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem enim
    laboriosam harum quidem accusantium explicabo, voluptates ipsum vel velit
    ipsam nulla debitis quaerat animi repellat consequuntur similique atque
    pariatur cupiditate.
  </p>
</main>
